Header always set X-Content-Type-Options "nosniff"
Header always set Content-Security-Policy "base-uri 'self'; default-src 'self'"

Header unset X-Powered-By

RewriteEngine On
RewriteCond %{REQUEST_URI} !/Static [NC]
RewriteRule ^ index.php [QSA,L]
